.popup {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left:29%;
    bottom: 60%;
}

.popup-inner{
    padding: 32px;
    width: 650px;
    height: 140px;
    background-color:  #3065AC;
    border-radius: 10px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 35px;
    right: 16px;
}