.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    padding: 32px;
    width: 200px;
    max-width: 640px;
    background-color: aqua;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}