
.cabecalho {
    position: absolute;
    
    height: 100px;
    left: 0px;
    top: 0px;

    background: #3065AC;
}

.cabecalho__logo {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 53px;
    top: 18px;
}

.cabecalho__titulo {
    position: absolute;
    width: 208px;
    height: 44px;
    left: 144px;
    top: 31px;

    font-family: 'Nunito';
    font-style: italic;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    color: #E8C64A;

}

.inicio {
    position: absolute;
width: 76px;
height: 24px;
left: 580px;
top: 38px;

font-family: 'Nunito';
font-style: italic;
font-weight: 900;
font-size: 24px;
line-height: 33px;

color: #E8C64A;
}

.sobre {
    position: absolute;
    width: 84px;
    height: 24px;
    left: 694px;
    top: 38px;

    font-family: 'Nunito';
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    color: #E8C64A;


}

.entrar {
    position: absolute;
    width: 189px;
    height: 24px;
    left: 791px;
    top: 38px;

    font-family: 'Nunito';
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    color: #E8C64A;
}




