*{  
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
    font-family: "Figtree", sans-serif;

}

/*DISPLAY FLEX */ 

.flex {
    display: flex;       
}

.flex-between{
    justify-content: space-between;
}

.flex-around{
    justify-content: space-around;

}

.align-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

/*PADDING*/

.py-md{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-lg {
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem; 
}

.py-xl {
    padding-top: 3rem; 
    padding-bottom: 3rem; 
}

.pb-sm{
    padding-bottom: 0.5rem;
}

.pb-md{
    padding-bottom: 1rem;
}

.pb-lg{
    padding-bottom: 2rem;
}

.pl-sm{
    padding-left: 0.5rem;
}

.pl-md{
    padding-left: 1rem;
}

.pl-lg{
    padding-left: 2rem;
}

.pg{
    margin: 2rem ;
}

.py-both{
    margin: 5px;
}
/* MARGINS */

.my-sm{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-md{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.my-lg {
    margin-top: 1.5rem; 
    margin-bottom: 1.5rem; 
}

.my-xl {
    margin-top: 3rem; 
}

.mb-sm{
    margin-bottom: 0.5rem;
}

.mb-md{
    margin-bottom: 1rem;
}

.mb-lg{
    margin-bottom: 2rem;
}

.mb-xlg{
    margin-bottom: 5rem;
}



/*FOOTER*/

.container{
    height: 70px;
    justify-content: center;
    align-items: center;
}

/* WIDTH */

.width-600{
    width: 600px;
}

.tabela{
    flex-flow: wrap;
    justify-content: flex-end;
    margin-right: 40px;
    width: 1000px;
}

.margin-around{
    margin: 0px 100px 100px;
}
/*ALINHAMENTOS*/

.row-reverse{
    flex-direction: row-reverse;
}

.botao-redondo{
    min-width: 180px;
    min-height: 50px;
    border-radius: 50px;   
    font-weight: 800;
}

.botao-redondo_link{
    background-color: #e9ca5b;
    width: 270px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 15px;
    font-weight: 800;
}

.input-rounded{
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 50px;
    padding: 20px;
}

.box-shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-shadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* CURSOR STYLE - Menu Hamburguer*/

.cursor-pointer{
    cursor: pointer;
}


/* Medias Query */

@media (min-width: 1530px) {
    .content{
        min-height: 575px;
      
    }   
}
@media (min-width: 1910px) {
    .content{
        min-height: 791px;      
    }   
}