.toasts {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 9999 !important;
  margin-top: 3px;
  margin-left: 3px;
  align-items: center;
}

.toast {
  width: 240px;
}

.toast-success {
  margin-top: 3px;
  background-color: #61d95c;
  padding: 20px;
  border-radius: 10px;
  color: #285a26;
}

b {
  font-weight: bold;
}

.toast-warn {
  margin-top: 3px;
  background-color: #fff28d;
  padding: 20px;
  border-radius: 10px;
  color: #b6902e;
}

.toast-error {
  margin-top: 3px;
  background-color: #f87578;
  padding: 20px;
  border-radius: 10px;
  color: #a62b38;
  text-align: center;
}

.toast-info {
  margin-top: 3px;
  background-color: #87a7fe;
  padding: 20px;
  border-radius: 10px;
  color: #0f4d99;
}
